* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
.page-wrapper {
  /* width: 75%;
  display: inline-block;
  margin-left: 20px; */
}

h1,
h2,
h3,
h4,
h5,
h6 

{
  margin: 0;
}

p {
  margin: 0;
}
/*Menu css*/
.menu{
  display: flex;
    justify-content: space-around;
    color: whitesmoke;
    background-color: slategray;
}

.menu li{
  display: inline;
  border-bottom-style: solid;
}
/*Portfolio flex css*/
#Portfolio{
  display: flex;
  width: 100%;
  border: 1px solid red;
}

#title{
  flex: 10%;
  border-right: 1px solid black;
  margin-right: 10px;
}

#childrens{
  flex: 70%

}


#child2_parent1{
  display: flex;
}

#c2p1d1{
  border: 1px solid darkgreen;
  flex: 50%;
}

#c2p1d2{
  flex: 50%;
  border: 1px solid brown;
}

/*ContactMe flex css*/
#ContactMe{
  display: flex;
  width: 100%;
  border: 1px solid red;
}

#Tel{
  flex: 25%;
  border-right: 1px solid black;
  margin-right: 10px;
}

#Email{
  flex: 25%;
  border-right: 1px solid black;
  margin-right: 10px;
}

#Github{
  flex: 25%;
  border-right: 1px solid black;
  margin-right: 10px;
}

#LinkedIn{
  flex: 25%;
  border-right: 1px solid black;
  margin-right: 10px;
}

/*Main Heading  css*/
h1{
  text-align: center;
  height: 30px;
}
/*Mainbanneer css*/
  h2{
    text-align:center;
    height: 100px;
    margin: 5px

}
/*AboutMe css*/
h3{
  background-color: lightgray;
  height: 200px;
  margin: 10px
}

/*Portfolio css*/
h4{
  background-color: lightslategrey;
  height: 400px;
  margin: 10px
}

/*Contact css*/
h5{
  background-color: lightslategrey;

}

/*Portfolio css*/
h6{
  background-color: lightslategrey;
  height: 10px;
  margin: 10px;
}

.hero-banner{
    max-height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/codin.gif");
    background-size: cover;
    background-position: center;
}
/*Work Grid code*/
.grid-Work{
  /* display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px; */
  border: 1px solid red
}


/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

/*ContactMe css */
.footer h5 {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: darkgrey;
}

.footer h5 {
  font-size: 20px;
}
